:root {
  --fontColor: #202020;
  --serifFont: "EB Garamond", serif;
  --sansSerifFont: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--sansSerifFont);
  color: var(--fontColor);
}

#__next {
  display: contents;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--serifFont);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5em
}

a {
  color: #3C75AA;
  text-decoration: none;
}

.viewport {
  display: flex;
  min-height: calc(100% - 4rem);
  isolation: isolate;
}