:root {
  --serif: "Source Serif Pro", serif;
  --sansSerif: "Montserrat", sans-serif;
  --pagePadding: 1.25rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --pageBackgroundColor: #FFFFFF;
    --textColor: #202020;
    --linkColor: #3C75AA;
    --linkHoverEffect: brightness(0.8);
    --highlightBackgroundColor: #ffe87f;
    --highlightTextColor: var(--textColor);
    --borderColor: #D2D2D2;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --pageBackgroundColor: #141414;
    --textColor: #CCCCCC;
    --linkColor: #5E9BD4;
    --linkHoverEffect: brightness(1.2);
    --highlightBackgroundColor: #F3D966;
    --highlightTextColor: #323232;
    --borderColor: #474747;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--serif);
  color: var(--textColor);
  height: 100%;
}

body {
  background-color: var(--pageBackgroundColor);
}

#__next {
  display: contents;
}

* {
  box-sizing: border-box;
}

*::selection {
  background: var(--highlightBackgroundColor);
  color: var(--highlightTextColor, unset);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sansSerif);
  line-height: 1em;
  margin: 0;
}

h1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover {
  filter: var(--linkHoverEffect);
}