:root {
  --fontColor: #202020;
  --linkColor: #3C75AA;
  --serifFont: "EB Garamond", serif;
  --sansSerifFont: "Open Sans", sans-serif;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--sansSerifFont);
  color: var(--fontColor);
}

#__next {
  display: contents;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--serifFont);
  line-height: 1em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5em
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

.button {
  display: inline-block;
  color: inherit;
  border: 1px solid;
  border-radius: 99rem;
  padding: 0.75em 2em;
  background: transparent;
  transition: 250ms;
  isolation: isolate;
}

.button span {
  mix-blend-mode: difference;
}

.button:hover {
  background: currentColor;
}

.viewport {
  display: flex;
  min-height: calc(100% - 4rem);
  isolation: isolate;
}

/* FIREFLIES */

.firefly {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
}
.firefly::before, .firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: black;
  opacity: 0.4;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 12s;
}
.firefly:nth-child(1)::after {
  animation-duration: 12s, 7205ms;
  animation-delay: 0ms, 1663ms;
}

@keyframes move1 {
  0% {
    transform: translateX(6vw) translateY(-43vh) scale(0.8);
  }
  5.8823529412% {
    transform: translateX(-21vw) translateY(-40vh) scale(0.45);
  }
  11.7647058824% {
    transform: translateX(3vw) translateY(23vh) scale(0.8);
  }
  17.6470588235% {
    transform: translateX(-17vw) translateY(39vh) scale(0.75);
  }
  23.5294117647% {
    transform: translateX(10vw) translateY(-1vh) scale(0.37);
  }
  29.4117647059% {
    transform: translateX(-28vw) translateY(-34vh) scale(0.7);
  }
  35.2941176471% {
    transform: translateX(18vw) translateY(50vh) scale(0.53);
  }
  41.1764705882% {
    transform: translateX(25vw) translateY(-2vh) scale(0.63);
  }
  47.0588235294% {
    transform: translateX(22vw) translateY(15vh) scale(0.27);
  }
  52.9411764706% {
    transform: translateX(-10vw) translateY(-43vh) scale(0.7);
  }
  58.8235294118% {
    transform: translateX(26vw) translateY(16vh) scale(0.92);
  }
  64.7058823529% {
    transform: translateX(-43vw) translateY(-36vh) scale(0.79);
  }
  70.5882352941% {
    transform: translateX(43vw) translateY(33vh) scale(0.51);
  }
  76.4705882353% {
    transform: translateX(-15vw) translateY(-32vh) scale(0.64);
  }
  82.3529411765% {
    transform: translateX(16vw) translateY(39vh) scale(0.43);
  }
  88.2352941176% {
    transform: translateX(-4vw) translateY(-34vh) scale(0.83);
  }
  94.1176470588% {
    transform: translateX(27vw) translateY(46vh) scale(0.53);
  }
  100% {
    transform: translateX(32vw) translateY(23vh) scale(0.69);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 14s;
}
.firefly:nth-child(2)::after {
  animation-duration: 14s, 7893ms;
  animation-delay: 0ms, 6489ms;
}

@keyframes move2 {
  0% {
    transform: translateX(0vw) translateY(37vh) scale(0.42);
  }
  4% {
    transform: translateX(19vw) translateY(27vh) scale(0.48);
  }
  8% {
    transform: translateX(12vw) translateY(-48vh) scale(0.35);
  }
  12% {
    transform: translateX(2vw) translateY(35vh) scale(0.81);
  }
  16% {
    transform: translateX(32vw) translateY(36vh) scale(0.77);
  }
  20% {
    transform: translateX(14vw) translateY(39vh) scale(0.98);
  }
  24% {
    transform: translateX(44vw) translateY(41vh) scale(0.95);
  }
  28% {
    transform: translateX(43vw) translateY(48vh) scale(0.72);
  }
  32% {
    transform: translateX(-34vw) translateY(14vh) scale(0.65);
  }
  36% {
    transform: translateX(32vw) translateY(11vh) scale(0.35);
  }
  40% {
    transform: translateX(30vw) translateY(-4vh) scale(0.91);
  }
  44% {
    transform: translateX(36vw) translateY(20vh) scale(0.39);
  }
  48% {
    transform: translateX(10vw) translateY(43vh) scale(0.38);
  }
  52% {
    transform: translateX(-4vw) translateY(48vh) scale(0.28);
  }
  56% {
    transform: translateX(-24vw) translateY(-19vh) scale(0.45);
  }
  60% {
    transform: translateX(-42vw) translateY(41vh) scale(0.53);
  }
  64% {
    transform: translateX(33vw) translateY(38vh) scale(0.59);
  }
  68% {
    transform: translateX(-9vw) translateY(-29vh) scale(0.75);
  }
  72% {
    transform: translateX(32vw) translateY(-14vh) scale(0.29);
  }
  76% {
    transform: translateX(6vw) translateY(-12vh) scale(1);
  }
  80% {
    transform: translateX(-40vw) translateY(35vh) scale(0.86);
  }
  84% {
    transform: translateX(4vw) translateY(23vh) scale(0.41);
  }
  88% {
    transform: translateX(9vw) translateY(46vh) scale(0.27);
  }
  92% {
    transform: translateX(-23vw) translateY(36vh) scale(0.74);
  }
  96% {
    transform: translateX(11vw) translateY(-28vh) scale(0.48);
  }
  100% {
    transform: translateX(15vw) translateY(32vh) scale(0.64);
  }
}
.firefly:nth-child(3) {
  animation-name: move3;
}
.firefly:nth-child(3)::before {
  animation-duration: 14s;
}
.firefly:nth-child(3)::after {
  animation-duration: 14s, 8170ms;
  animation-delay: 0ms, 5008ms;
}

@keyframes move3 {
  0% {
    transform: translateX(-44vw) translateY(-15vh) scale(0.53);
  }
  4.7619047619% {
    transform: translateX(-8vw) translateY(-33vh) scale(0.66);
  }
  9.5238095238% {
    transform: translateX(15vw) translateY(-2vh) scale(0.37);
  }
  14.2857142857% {
    transform: translateX(-18vw) translateY(5vh) scale(0.86);
  }
  19.0476190476% {
    transform: translateX(2vw) translateY(49vh) scale(0.49);
  }
  23.8095238095% {
    transform: translateX(-32vw) translateY(25vh) scale(0.56);
  }
  28.5714285714% {
    transform: translateX(40vw) translateY(8vh) scale(0.48);
  }
  33.3333333333% {
    transform: translateX(13vw) translateY(43vh) scale(0.36);
  }
  38.0952380952% {
    transform: translateX(-13vw) translateY(-12vh) scale(0.83);
  }
  42.8571428571% {
    transform: translateX(-31vw) translateY(31vh) scale(0.97);
  }
  47.619047619% {
    transform: translateX(26vw) translateY(19vh) scale(0.27);
  }
  52.380952381% {
    transform: translateX(-5vw) translateY(-2vh) scale(0.41);
  }
  57.1428571429% {
    transform: translateX(-39vw) translateY(-16vh) scale(0.49);
  }
  61.9047619048% {
    transform: translateX(-27vw) translateY(26vh) scale(0.98);
  }
  66.6666666667% {
    transform: translateX(-47vw) translateY(30vh) scale(0.77);
  }
  71.4285714286% {
    transform: translateX(47vw) translateY(30vh) scale(0.73);
  }
  76.1904761905% {
    transform: translateX(-13vw) translateY(34vh) scale(0.53);
  }
  80.9523809524% {
    transform: translateX(50vw) translateY(-32vh) scale(0.45);
  }
  85.7142857143% {
    transform: translateX(1vw) translateY(-14vh) scale(0.3);
  }
  90.4761904762% {
    transform: translateX(42vw) translateY(-27vh) scale(0.68);
  }
  95.2380952381% {
    transform: translateX(-40vw) translateY(-1vh) scale(0.38);
  }
  100% {
    transform: translateX(6vw) translateY(-38vh) scale(0.6);
  }
}
.firefly:nth-child(4) {
  animation-name: move4;
}
.firefly:nth-child(4)::before {
  animation-duration: 17s;
}
.firefly:nth-child(4)::after {
  animation-duration: 17s, 6148ms;
  animation-delay: 0ms, 8492ms;
}

@keyframes move4 {
  0% {
    transform: translateX(49vw) translateY(38vh) scale(0.86);
  }
  3.8461538462% {
    transform: translateX(-47vw) translateY(-2vh) scale(0.81);
  }
  7.6923076923% {
    transform: translateX(-41vw) translateY(-36vh) scale(0.69);
  }
  11.5384615385% {
    transform: translateX(-12vw) translateY(35vh) scale(0.55);
  }
  15.3846153846% {
    transform: translateX(9vw) translateY(-28vh) scale(0.73);
  }
  19.2307692308% {
    transform: translateX(18vw) translateY(-33vh) scale(0.65);
  }
  23.0769230769% {
    transform: translateX(-49vw) translateY(-21vh) scale(0.72);
  }
  26.9230769231% {
    transform: translateX(-2vw) translateY(21vh) scale(0.29);
  }
  30.7692307692% {
    transform: translateX(-41vw) translateY(-29vh) scale(0.63);
  }
  34.6153846154% {
    transform: translateX(-3vw) translateY(-15vh) scale(0.64);
  }
  38.4615384615% {
    transform: translateX(-24vw) translateY(-19vh) scale(0.36);
  }
  42.3076923077% {
    transform: translateX(-33vw) translateY(21vh) scale(0.29);
  }
  46.1538461538% {
    transform: translateX(42vw) translateY(17vh) scale(0.46);
  }
  50% {
    transform: translateX(-38vw) translateY(3vh) scale(0.32);
  }
  53.8461538462% {
    transform: translateX(-11vw) translateY(-26vh) scale(0.56);
  }
  57.6923076923% {
    transform: translateX(18vw) translateY(-16vh) scale(0.26);
  }
  61.5384615385% {
    transform: translateX(22vw) translateY(10vh) scale(0.63);
  }
  65.3846153846% {
    transform: translateX(-29vw) translateY(5vh) scale(0.64);
  }
  69.2307692308% {
    transform: translateX(-5vw) translateY(-37vh) scale(0.72);
  }
  73.0769230769% {
    transform: translateX(-6vw) translateY(-3vh) scale(0.26);
  }
  76.9230769231% {
    transform: translateX(50vw) translateY(11vh) scale(0.31);
  }
  80.7692307692% {
    transform: translateX(44vw) translateY(40vh) scale(0.31);
  }
  84.6153846154% {
    transform: translateX(-8vw) translateY(12vh) scale(0.69);
  }
  88.4615384615% {
    transform: translateX(39vw) translateY(-40vh) scale(0.91);
  }
  92.3076923077% {
    transform: translateX(-30vw) translateY(-7vh) scale(0.88);
  }
  96.1538461538% {
    transform: translateX(-23vw) translateY(11vh) scale(0.78);
  }
  100% {
    transform: translateX(10vw) translateY(-47vh) scale(0.31);
  }
}
.firefly:nth-child(5) {
  animation-name: move5;
}
.firefly:nth-child(5)::before {
  animation-duration: 9s;
}
.firefly:nth-child(5)::after {
  animation-duration: 9s, 10352ms;
  animation-delay: 0ms, 7360ms;
}

@keyframes move5 {
  0% {
    transform: translateX(-7vw) translateY(34vh) scale(0.42);
  }
  4.1666666667% {
    transform: translateX(0vw) translateY(35vh) scale(0.68);
  }
  8.3333333333% {
    transform: translateX(-40vw) translateY(8vh) scale(0.68);
  }
  12.5% {
    transform: translateX(2vw) translateY(11vh) scale(0.35);
  }
  16.6666666667% {
    transform: translateX(46vw) translateY(8vh) scale(0.57);
  }
  20.8333333333% {
    transform: translateX(-15vw) translateY(-7vh) scale(0.52);
  }
  25% {
    transform: translateX(-31vw) translateY(15vh) scale(0.57);
  }
  29.1666666667% {
    transform: translateX(42vw) translateY(23vh) scale(0.8);
  }
  33.3333333333% {
    transform: translateX(24vw) translateY(38vh) scale(0.79);
  }
  37.5% {
    transform: translateX(48vw) translateY(31vh) scale(0.47);
  }
  41.6666666667% {
    transform: translateX(-3vw) translateY(-42vh) scale(0.75);
  }
  45.8333333333% {
    transform: translateX(-36vw) translateY(-18vh) scale(0.54);
  }
  50% {
    transform: translateX(38vw) translateY(-48vh) scale(0.45);
  }
  54.1666666667% {
    transform: translateX(29vw) translateY(23vh) scale(0.98);
  }
  58.3333333333% {
    transform: translateX(13vw) translateY(-32vh) scale(0.26);
  }
  62.5% {
    transform: translateX(1vw) translateY(-34vh) scale(0.6);
  }
  66.6666666667% {
    transform: translateX(14vw) translateY(50vh) scale(0.94);
  }
  70.8333333333% {
    transform: translateX(23vw) translateY(-32vh) scale(0.76);
  }
  75% {
    transform: translateX(-38vw) translateY(48vh) scale(0.37);
  }
  79.1666666667% {
    transform: translateX(-43vw) translateY(-47vh) scale(0.95);
  }
  83.3333333333% {
    transform: translateX(-44vw) translateY(47vh) scale(0.42);
  }
  87.5% {
    transform: translateX(-22vw) translateY(13vh) scale(0.69);
  }
  91.6666666667% {
    transform: translateX(-30vw) translateY(5vh) scale(0.95);
  }
  95.8333333333% {
    transform: translateX(7vw) translateY(-7vh) scale(0.67);
  }
  100% {
    transform: translateX(29vw) translateY(-8vh) scale(0.84);
  }
}
.firefly:nth-child(6) {
  animation-name: move6;
}
.firefly:nth-child(6)::before {
  animation-duration: 17s;
}
.firefly:nth-child(6)::after {
  animation-duration: 17s, 8146ms;
  animation-delay: 0ms, 812ms;
}

@keyframes move6 {
  0% {
    transform: translateX(40vw) translateY(-42vh) scale(0.71);
  }
  4.7619047619% {
    transform: translateX(34vw) translateY(0vh) scale(0.99);
  }
  9.5238095238% {
    transform: translateX(4vw) translateY(-31vh) scale(0.4);
  }
  14.2857142857% {
    transform: translateX(-23vw) translateY(-8vh) scale(0.77);
  }
  19.0476190476% {
    transform: translateX(-20vw) translateY(-48vh) scale(0.64);
  }
  23.8095238095% {
    transform: translateX(-40vw) translateY(4vh) scale(0.68);
  }
  28.5714285714% {
    transform: translateX(43vw) translateY(-49vh) scale(0.86);
  }
  33.3333333333% {
    transform: translateX(43vw) translateY(-12vh) scale(1);
  }
  38.0952380952% {
    transform: translateX(-4vw) translateY(6vh) scale(0.8);
  }
  42.8571428571% {
    transform: translateX(25vw) translateY(-18vh) scale(0.69);
  }
  47.619047619% {
    transform: translateX(17vw) translateY(-17vh) scale(0.7);
  }
  52.380952381% {
    transform: translateX(9vw) translateY(18vh) scale(0.37);
  }
  57.1428571429% {
    transform: translateX(-45vw) translateY(-20vh) scale(0.66);
  }
  61.9047619048% {
    transform: translateX(40vw) translateY(35vh) scale(0.46);
  }
  66.6666666667% {
    transform: translateX(46vw) translateY(-39vh) scale(0.79);
  }
  71.4285714286% {
    transform: translateX(-24vw) translateY(-7vh) scale(0.79);
  }
  76.1904761905% {
    transform: translateX(-5vw) translateY(33vh) scale(0.71);
  }
  80.9523809524% {
    transform: translateX(-24vw) translateY(38vh) scale(0.73);
  }
  85.7142857143% {
    transform: translateX(8vw) translateY(45vh) scale(0.58);
  }
  90.4761904762% {
    transform: translateX(1vw) translateY(44vh) scale(0.51);
  }
  95.2380952381% {
    transform: translateX(36vw) translateY(10vh) scale(0.63);
  }
  100% {
    transform: translateX(-42vw) translateY(41vh) scale(0.87);
  }
}
.firefly:nth-child(7) {
  animation-name: move7;
}
.firefly:nth-child(7)::before {
  animation-duration: 16s;
}
.firefly:nth-child(7)::after {
  animation-duration: 16s, 5141ms;
  animation-delay: 0ms, 6756ms;
}

@keyframes move7 {
  0% {
    transform: translateX(0vw) translateY(6vh) scale(0.65);
  }
  5.8823529412% {
    transform: translateX(40vw) translateY(49vh) scale(0.35);
  }
  11.7647058824% {
    transform: translateX(6vw) translateY(-27vh) scale(0.43);
  }
  17.6470588235% {
    transform: translateX(-43vw) translateY(-39vh) scale(1);
  }
  23.5294117647% {
    transform: translateX(-19vw) translateY(-39vh) scale(0.73);
  }
  29.4117647059% {
    transform: translateX(14vw) translateY(-32vh) scale(0.3);
  }
  35.2941176471% {
    transform: translateX(45vw) translateY(37vh) scale(0.51);
  }
  41.1764705882% {
    transform: translateX(35vw) translateY(12vh) scale(0.49);
  }
  47.0588235294% {
    transform: translateX(-44vw) translateY(-42vh) scale(0.4);
  }
  52.9411764706% {
    transform: translateX(44vw) translateY(6vh) scale(0.83);
  }
  58.8235294118% {
    transform: translateX(-19vw) translateY(50vh) scale(0.92);
  }
  64.7058823529% {
    transform: translateX(33vw) translateY(15vh) scale(0.44);
  }
  70.5882352941% {
    transform: translateX(-40vw) translateY(-46vh) scale(0.28);
  }
  76.4705882353% {
    transform: translateX(-6vw) translateY(29vh) scale(0.67);
  }
  82.3529411765% {
    transform: translateX(1vw) translateY(0vh) scale(0.46);
  }
  88.2352941176% {
    transform: translateX(0vw) translateY(6vh) scale(0.83);
  }
  94.1176470588% {
    transform: translateX(-7vw) translateY(9vh) scale(0.71);
  }
  100% {
    transform: translateX(16vw) translateY(25vh) scale(0.47);
  }
}
.firefly:nth-child(8) {
  animation-name: move8;
}
.firefly:nth-child(8)::before {
  animation-duration: 14s;
}
.firefly:nth-child(8)::after {
  animation-duration: 14s, 6469ms;
  animation-delay: 0ms, 3140ms;
}

@keyframes move8 {
  0% {
    transform: translateX(-21vw) translateY(-43vh) scale(0.97);
  }
  4.7619047619% {
    transform: translateX(48vw) translateY(28vh) scale(0.99);
  }
  9.5238095238% {
    transform: translateX(-23vw) translateY(10vh) scale(0.41);
  }
  14.2857142857% {
    transform: translateX(-28vw) translateY(-6vh) scale(0.56);
  }
  19.0476190476% {
    transform: translateX(12vw) translateY(9vh) scale(0.47);
  }
  23.8095238095% {
    transform: translateX(23vw) translateY(19vh) scale(0.4);
  }
  28.5714285714% {
    transform: translateX(44vw) translateY(-35vh) scale(0.7);
  }
  33.3333333333% {
    transform: translateX(38vw) translateY(42vh) scale(0.84);
  }
  38.0952380952% {
    transform: translateX(-9vw) translateY(-46vh) scale(0.51);
  }
  42.8571428571% {
    transform: translateX(12vw) translateY(15vh) scale(0.45);
  }
  47.619047619% {
    transform: translateX(-12vw) translateY(-13vh) scale(0.74);
  }
  52.380952381% {
    transform: translateX(11vw) translateY(28vh) scale(0.89);
  }
  57.1428571429% {
    transform: translateX(43vw) translateY(37vh) scale(0.98);
  }
  61.9047619048% {
    transform: translateX(-9vw) translateY(-21vh) scale(0.73);
  }
  66.6666666667% {
    transform: translateX(6vw) translateY(29vh) scale(0.99);
  }
  71.4285714286% {
    transform: translateX(21vw) translateY(2vh) scale(0.98);
  }
  76.1904761905% {
    transform: translateX(15vw) translateY(-36vh) scale(0.93);
  }
  80.9523809524% {
    transform: translateX(40vw) translateY(42vh) scale(0.91);
  }
  85.7142857143% {
    transform: translateX(40vw) translateY(-1vh) scale(0.27);
  }
  90.4761904762% {
    transform: translateX(29vw) translateY(47vh) scale(0.48);
  }
  95.2380952381% {
    transform: translateX(-5vw) translateY(-15vh) scale(0.87);
  }
  100% {
    transform: translateX(-31vw) translateY(30vh) scale(0.42);
  }
}
.firefly:nth-child(9) {
  animation-name: move9;
}
.firefly:nth-child(9)::before {
  animation-duration: 13s;
}
.firefly:nth-child(9)::after {
  animation-duration: 13s, 9139ms;
  animation-delay: 0ms, 4409ms;
}

@keyframes move9 {
  0% {
    transform: translateX(8vw) translateY(40vh) scale(0.29);
  }
  3.8461538462% {
    transform: translateX(-10vw) translateY(-40vh) scale(0.41);
  }
  7.6923076923% {
    transform: translateX(-22vw) translateY(-7vh) scale(0.52);
  }
  11.5384615385% {
    transform: translateX(21vw) translateY(-44vh) scale(0.41);
  }
  15.3846153846% {
    transform: translateX(-40vw) translateY(-27vh) scale(0.65);
  }
  19.2307692308% {
    transform: translateX(39vw) translateY(47vh) scale(0.56);
  }
  23.0769230769% {
    transform: translateX(-13vw) translateY(-26vh) scale(0.62);
  }
  26.9230769231% {
    transform: translateX(23vw) translateY(-16vh) scale(0.92);
  }
  30.7692307692% {
    transform: translateX(-26vw) translateY(-31vh) scale(0.89);
  }
  34.6153846154% {
    transform: translateX(-8vw) translateY(-26vh) scale(0.74);
  }
  38.4615384615% {
    transform: translateX(31vw) translateY(50vh) scale(0.56);
  }
  42.3076923077% {
    transform: translateX(7vw) translateY(-25vh) scale(0.32);
  }
  46.1538461538% {
    transform: translateX(33vw) translateY(-27vh) scale(0.73);
  }
  50% {
    transform: translateX(-9vw) translateY(6vh) scale(0.29);
  }
  53.8461538462% {
    transform: translateX(16vw) translateY(33vh) scale(0.36);
  }
  57.6923076923% {
    transform: translateX(-40vw) translateY(45vh) scale(0.82);
  }
  61.5384615385% {
    transform: translateX(22vw) translateY(17vh) scale(0.56);
  }
  65.3846153846% {
    transform: translateX(-17vw) translateY(36vh) scale(0.53);
  }
  69.2307692308% {
    transform: translateX(-15vw) translateY(-5vh) scale(0.64);
  }
  73.0769230769% {
    transform: translateX(41vw) translateY(34vh) scale(0.34);
  }
  76.9230769231% {
    transform: translateX(-15vw) translateY(-3vh) scale(0.36);
  }
  80.7692307692% {
    transform: translateX(-33vw) translateY(28vh) scale(0.85);
  }
  84.6153846154% {
    transform: translateX(45vw) translateY(-23vh) scale(0.94);
  }
  88.4615384615% {
    transform: translateX(4vw) translateY(44vh) scale(0.61);
  }
  92.3076923077% {
    transform: translateX(-10vw) translateY(-8vh) scale(0.44);
  }
  96.1538461538% {
    transform: translateX(4vw) translateY(-2vh) scale(0.46);
  }
  100% {
    transform: translateX(-15vw) translateY(-13vh) scale(0.99);
  }
}
.firefly:nth-child(10) {
  animation-name: move10;
}
.firefly:nth-child(10)::before {
  animation-duration: 9s;
}
.firefly:nth-child(10)::after {
  animation-duration: 9s, 7847ms;
  animation-delay: 0ms, 1016ms;
}

@keyframes move10 {
  0% {
    transform: translateX(-23vw) translateY(-10vh) scale(0.87);
  }
  3.5714285714% {
    transform: translateX(50vw) translateY(11vh) scale(0.33);
  }
  7.1428571429% {
    transform: translateX(47vw) translateY(-5vh) scale(0.82);
  }
  10.7142857143% {
    transform: translateX(-5vw) translateY(-22vh) scale(0.45);
  }
  14.2857142857% {
    transform: translateX(-25vw) translateY(32vh) scale(0.44);
  }
  17.8571428571% {
    transform: translateX(-9vw) translateY(-13vh) scale(0.41);
  }
  21.4285714286% {
    transform: translateX(40vw) translateY(1vh) scale(0.91);
  }
  25% {
    transform: translateX(15vw) translateY(14vh) scale(0.85);
  }
  28.5714285714% {
    transform: translateX(37vw) translateY(-32vh) scale(0.53);
  }
  32.1428571429% {
    transform: translateX(-7vw) translateY(29vh) scale(0.51);
  }
  35.7142857143% {
    transform: translateX(36vw) translateY(-25vh) scale(0.78);
  }
  39.2857142857% {
    transform: translateX(29vw) translateY(-7vh) scale(0.59);
  }
  42.8571428571% {
    transform: translateX(-7vw) translateY(5vh) scale(0.28);
  }
  46.4285714286% {
    transform: translateX(-48vw) translateY(-3vh) scale(1);
  }
  50% {
    transform: translateX(-44vw) translateY(-48vh) scale(0.78);
  }
  53.5714285714% {
    transform: translateX(36vw) translateY(23vh) scale(0.51);
  }
  57.1428571429% {
    transform: translateX(46vw) translateY(6vh) scale(0.93);
  }
  60.7142857143% {
    transform: translateX(-25vw) translateY(-42vh) scale(0.7);
  }
  64.2857142857% {
    transform: translateX(40vw) translateY(15vh) scale(0.83);
  }
  67.8571428571% {
    transform: translateX(25vw) translateY(14vh) scale(0.79);
  }
  71.4285714286% {
    transform: translateX(18vw) translateY(46vh) scale(0.46);
  }
  75% {
    transform: translateX(20vw) translateY(10vh) scale(0.82);
  }
  78.5714285714% {
    transform: translateX(-19vw) translateY(-11vh) scale(0.4);
  }
  82.1428571429% {
    transform: translateX(-18vw) translateY(-17vh) scale(0.53);
  }
  85.7142857143% {
    transform: translateX(-38vw) translateY(-35vh) scale(0.71);
  }
  89.2857142857% {
    transform: translateX(50vw) translateY(43vh) scale(0.39);
  }
  92.8571428571% {
    transform: translateX(-1vw) translateY(47vh) scale(0.27);
  }
  96.4285714286% {
    transform: translateX(-31vw) translateY(16vh) scale(0.88);
  }
  100% {
    transform: translateX(-36vw) translateY(-21vh) scale(0.7);
  }
}

@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}